<nav class="links">
  <h3>Links</h3>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/work" title="Work">Work</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/styleguide" title="Styleguide">Styleguide</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/about" title="About">About</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/contact" title="Contact">Contact</li>

      </li>
    
  </ul>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/how-this-site-was-made" title="How this site was made">How this site was made</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/more-articles" title="More articles">More articles</li>

      </li>
    
  </ul>


  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="mailto:bartus.csongor@gmail.com" title="Email">Email</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://twitter.com/metamn" title="Twitter">Twitter</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://github.com/metamn" title="Github">Github</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://metamn.tumblr.com" title="Tumblr">Tumblr</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="https://www.readability.com/metamn/" title="Readability">Readability</li>

      </li>
    
  </ul>

</nav>
