<nav class="links">
  <h3>Links</h3>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/work" title="Work">Work</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/about" title="About">About</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/contact" title="Contact">Contact</a>

      </li>
    
  </ul>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/how-this-site-was-made" title="How this site was made">How this site was made</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/more-articles" title="More articles">More articles</a>

      </li>
    
  </ul>


  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="mailto:bartus.csongor@gmail.com" title="Email">Email</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://twitter.com/metamn" title="Twitter">Twitter</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://github.com/metamn" title="Github">Github</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://metamn.tumblr.com" title="Tumblr">Tumblr</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="https://www.readability.com/metamn/" title="Readability">Readability</a>

      </li>
    
  </ul>

</nav>
