// Title
//
// A page or section title with an eventual subtitle separated with a `long-dash`.
// It can be rotated left with 90 degrees.
//
// Styleguide title
@mixin title {
  padding: $lem;
  padding-bottom: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span {
    @include text-style(title);
  }

  .long-dash {
    @include long-dash;
  }
}
