html {
  &.styleguide-arrow {
    body {
      .example {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .arrow {
          @include arrow(blue-on-gray, $black);
        }

        aside {
          h3 {
            display: flex;
            margin-bottom: $lem;
          }

          margin-right: $lem * 2;
        }
      }
    }
  }
}
