// Figure
//
// Displaying images in a responsive and retina friendly way
// using the [Picturefill library](http://scottjehl.github.io/picturefill/).
//
// Styleguide figure
@mixin figure($figcaption: off) {
  margin: 0;

  // Fluid images, both vertically and horizontally. Works well with the intrinsic ratio mixin
  img {
    max-width: 100%;
    max-height: 100%;
  }

  // Remove the extra bottom spacing for <img> inside <a>
  a {
    line-height: 0;
    display: block;
  }

  // Spinner
  @include figure__spinner;

  figcaption {
    @include figure__figcaption($figcaption);
  }
}
