@mixin intro__lines {
  max-width: $text-block-width;

  @include desktop {
    min-width: $lem * 2;
    padding: 0 $lem;
  }


  ul {
    list-style: square;
  }

  li {
    border-bottom: 1px solid;
  }
}
