@mixin intro__lines {
  max-width: $text-block-width;

  @include tablet-landscape {
    @include intro__lines--half;
  }

  @include desktop {
    @include intro__lines--small;
  }

  @include portrait {
    @include intro__lines--small;
  }

  @include mobile {
    min-width: 0px;
  }


  ul {
    list-style: square;
  }

  li {
    border-bottom: 1px solid;
  }
}
