@mixin ui {
  padding: $lem;
  margin: $lem 0;

  flex-grow: 1;
  display: flex;
  justify-content: center;

  @include tablet-and-below {
    display: none;
  }

  figure {
    @include figure;
  }
}
