


<!doctype html>
<html lang="en" class="sg sg- ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; Styleguide</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="assets/styles/styleguide.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="../assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    
    

  











  





<a class="link" href="/" title="Metamn">Metamn</a>

  </h3>

  <div class="header__separator">
    <span class="long-dash"></span>

  </div>

  <div class="header__styleguide-title">
    
    

  











  





<a class="link" href="/styleguide/" title="Styleguide">Styleguide</a>

  </div>

  
    <div class="header__page-title">
      
    </div>
  
</header>

<nav class="menu">
  <h3>Menu</h3>

  
  <script>
    document.write('aaa');
    //document.write([object Object],[object Object],[object Object]);
  </script>
</nav>




<script src="assets/scripts/styleguide.min.js"></script>

</body>
</html>

