html {
  &.styleguide {
    body {
      @include colors(blue-on-white);

      // IE 11 bugifx ...: https://codepen.io/chriswrightdesign/pen/emQNGZ/
      display: flex;
      flex-direction: row;

      .flexbox-ie-container {
        width: 100%;

        @include stretch--columns;
        @include landscape {
          height: auto;
          min-height: 100vh;
        }
      }

      .styleguide-header {
        @include header(blue-on-white);
      }

      .title {
        @include title;
      }

      .description-and-example {
        @include default__description-and-example;
      }

      .styleguide-menu {
        @include styleguide-menu;
      }

      .menu {
        @include menu(blue-on-white);
      }
    }
  }
}
