html {
  &.styleguide {
    body {
      @include colors(black-on-gray);

      .styleguide-header {
        @include header(black-on-gray);
      }

      .title {
        @include title;
      }

      .description-and-example {
        display: flex;
        flex-wrap: wrap;

        .styleguide-description {
          @include styleguide-description;
          flex-basis: $text-block-width;
        }

        .example {
          @include example;
          flex: 1;
        }
      }

      .styleguide-menu {
        @include styleguide-menu;
      }

      .menu {
        @include menu(black-on-gray);
      }
    }
  }
}
