@mixin example__aside {
  display: flex;
  flex-direction: column;
  margin-bottom: $lem * 2;
  max-width: $text-block-width;

  h3 {
    display: flex;
    order: 10;

    @include box-title(gray-on-black);
  }

  .box {
    @include box;
  }
}
