// DL
//
// A simple data list. The data title is underlined.
//
// Styleguide dl
@mixin dl {
  margin: 0;

  dt {
    padding-bottom: $lem / 4;
    margin-bottom: $lem / 4;
    border-bottom: 1px solid;
  }

  dd {
    margin: 0;
    + dt {
        padding-top: $lem + $lem / 2;
    }
  }
}
