<section class="works">
  <h3>Works</h3>

  
    <article class="thumb">
  <h3 class="thumb__title">Wanderlust</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/wanderlust" title="Wanderlust">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/wanderlust-thumb_desktop.png, http://metamn.io/assets/images/wanderlust-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/wanderlust-thumb_laptop.png, http://metamn.io/assets/images/wanderlust-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/wanderlust-thumb_tablet.png, http://metamn.io/assets/images/wanderlust-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/wanderlust-thumb_mobile.png, http://metamn.io/assets/images/wanderlust-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/wanderlust-thumb_desktop.png" alt="Wanderlust">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Wanderlust
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Front-end</li>
    
      <li>Wordpress</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Iorad</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/iorad" title="Iorad">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/iorad-thumb_desktop.png, http://metamn.io/assets/images/iorad-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/iorad-thumb_laptop.png, http://metamn.io/assets/images/iorad-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/iorad-thumb_tablet.png, http://metamn.io/assets/images/iorad-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/iorad-thumb_mobile.png, http://metamn.io/assets/images/iorad-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/iorad-thumb_desktop.png" alt="Iorad">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Iorad
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">OCCRP</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/occrp" title="OCCRP">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/occrp-thumb_desktop.png, http://metamn.io/assets/images/occrp-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/occrp-thumb_laptop.png, http://metamn.io/assets/images/occrp-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/occrp-thumb_tablet.png, http://metamn.io/assets/images/occrp-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/occrp-thumb_mobile.png, http://metamn.io/assets/images/occrp-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/occrp-thumb_desktop.png" alt="OCCRP">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    OCCRP
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Reboot</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/reboot" title="Reboot">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/reboot-thumb_desktop.png, http://metamn.io/assets/images/reboot-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/reboot-thumb_laptop.png, http://metamn.io/assets/images/reboot-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/reboot-thumb_tablet.png, http://metamn.io/assets/images/reboot-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/reboot-thumb_mobile.png, http://metamn.io/assets/images/reboot-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/reboot-thumb_desktop.png" alt="Reboot">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Reboot
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Front-end</li>
    
      <li>Wordpress</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Anvelocom</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/anvelocom" title="Anvelocom">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/anvelocom-thumb_desktop.png, http://metamn.io/assets/images/anvelocom-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/anvelocom-thumb_laptop.png, http://metamn.io/assets/images/anvelocom-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/anvelocom-thumb_tablet.png, http://metamn.io/assets/images/anvelocom-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/anvelocom-thumb_mobile.png, http://metamn.io/assets/images/anvelocom-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/anvelocom-thumb_desktop.png" alt="Anvelocom">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Anvelocom
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
      <li>Wordpress</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Scatter</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/scatter" title="Scatter">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/scatter-thumb_desktop.png, http://metamn.io/assets/images/scatter-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/scatter-thumb_laptop.png, http://metamn.io/assets/images/scatter-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/scatter-thumb_tablet.png, http://metamn.io/assets/images/scatter-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/scatter-thumb_mobile.png, http://metamn.io/assets/images/scatter-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/scatter-thumb_desktop.png" alt="Scatter">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Scatter
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Inu Chivu</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/inu" title="Inu Chivu">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/inu-thumb_desktop.png, http://metamn.io/assets/images/inu-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/inu-thumb_laptop.png, http://metamn.io/assets/images/inu-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/inu-thumb_tablet.png, http://metamn.io/assets/images/inu-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/inu-thumb_mobile.png, http://metamn.io/assets/images/inu-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/inu-thumb_desktop.png" alt="Inu Chivu">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Inu Chivu
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
      <li>Wordpress</li>
    
  </ul>
</aside>

</article>

  
    <article class="thumb">
  <h3 class="thumb__title">Smuff</h3>

  <div class="thumb__image">
    
    <figure >
  
    <a class="link" href="http://metamn.io/work/smuff" title="Smuff">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://metamn.io/assets/images/smuff-thumb_desktop.png, http://metamn.io/assets/images/smuff-thumb_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="http://metamn.io/assets/images/smuff-thumb_laptop.png, http://metamn.io/assets/images/smuff-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://metamn.io/assets/images/smuff-thumb_tablet.png, http://metamn.io/assets/images/smuff-thumb_tablet2x.png 2x">
    <source srcset="http://metamn.io/assets/images/smuff-thumb_mobile.png, http://metamn.io/assets/images/smuff-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="http://metamn.io/assets/images/smuff-thumb_desktop.png" alt="Smuff">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Smuff
  </figcaption>

  </a>
</figure>

  </div>
  
  <aside class="thumb__services">
  <h3>Services</h3>

  <ul>
    
      <li>Design</li>
    
      <li>Front-end</li>
    
      <li>Wordpress, Yii</li>
    
  </ul>
</aside>

</article>

  
</section>
