

// Text style
//
// Typographic settings for different text types.
// Each text type has set a `font`, a `scale`, a `color` and additional parameters like letter-spacing, max-width or else.
// Everything text is set using this `text-style` mixin. We don't set `color` or `font` directly for a text.
//
// Styleguide text-style

// The width of a text block

$text-block-width: 25em; 



// The text mixin
@mixin text-style($variant) {
  
  // Default
  // - The default text
  @if ($variant == 'default') {
    @include font(nimbus-sans-regular);
    @include scale(default);
    @include colors(white-on-blue);
    
    letter-spacing: 1.1px;
    
    
  }
  
  // Logo
  // - The logo text
  @if ($variant == 'logo') {
    @include font(silkscreen-regular);
    @include scale(large-1);
    
    
    
  }
  
  // Body text
  // - The default long text
  @if ($variant == 'body-text') {
    @include p;
    
    max-width: 25em;
    
    
  }
  
  // Title
  // - The title of an article or page
  @if ($variant == 'title') {
    @include font(nimbus-sans-bold);
    
    
    
  }
  
  // Menu
  // - The links in a menu
  @if ($variant == 'menu') {
    @include font(nimbus-sans-bold);
    @include scale(small-1);
    @include uppercase(1.9px);
    
    
    
  }
  
}


// Text style classes

.default {
  @include font(nimbus-sans-regular);
  @include scale(default);
  @include colors(white-on-blue);
  
  letter-spacing: 1.1px;
  
  
}

.logo {
  @include font(silkscreen-regular);
  @include scale(large-1);
  
  
  
}

.body-text {
  @include p;
  
  max-width: 25em;
  
  
}

.title {
  @include font(nimbus-sans-bold);
  
  
  
}

.menu {
  @include font(nimbus-sans-bold);
  @include scale(small-1);
  @include uppercase(1.9px);
  
  
  
}

