html {
  &.styleguide-figure-on-figure {
    body {
      .description-and-example {
        .example {
          .aside {
            @include figure-on-figure;
            position: relative;

            figure {
              @include figure($spinner-type: 'none');
              padding: $lem;
              cursor: pointer;
            }

            .box {
              min-height: 17em;
            }
          }
        }
      }
    }
  }
}
