@mixin text-style__styles {
  aside {
    @include text-style(body-text);
    padding: $lem;
    border: 1px solid;

    display: flex;
    flex-direction: column;

    margin-bottom: $lem * 2;

    h3 {
      display: flex;
      order: 2;
      @include text-style(title);
    }

    div {
      border-bottom: 1px solid;
      margin-bottom: $lem / 4;
      padding-bottom: $lem / 4;
    }

    .text-style--default {
      padding: $lem;
    }

    .text-style--menu {
      @include colors(blue-on-gray);
    }
  }
}
