@mixin home__intro--slide-background {
  .slide__background {
    display: none;

    @include tablet-and-up {
      display: inline;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      .letter {
        @include text-style(headline);
        position: absolute;
      }
    }
  }
}
