@mixin thumb__border--tablet-and-up {
  @include tablet-and-up {
    border-bottom: 1px solid;

    &:nth-of-type(7),
    &:nth-of-type(8) {
      border-bottom: none;
    }

    &:nth-of-type(2),
    &:nth-of-type(5) {
      border-left: 1px solid;
      border-right: 1px solid;
    }

    &:nth-of-type(7) {
      border-right: 1px solid;
    }

    &:last-of-type {
      border-left: 1px solid;
    }
  }
}
