@mixin values {

  .values {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      display: flex;
    }

    @include tablet-and-up {
      transform: rotate(45deg);
      @include animation(transform);
      &:hover {
        transform: rotate(0deg);
      }
    }
  }



  .values__ui {
    @include values__ui;
  }

  .values__styleguide {
    @include values__styleguide;
  }

  .values__front-end {
    @include values__front-end;
  }

  .values__wordpress {
    @include values__wordpress;
  }
}
