@mixin aside {
  display: flex;
  flex-direction: column;
  width: $text-block-width;

  @include mobile {
    width: 100%;
  }

  .aside__title {
    display: flex;
    order: 2;

    @include box__title;
  }

  .box {
    @include box;
  }
}
