@mixin aside {
  max-width: $text-block-width;

  display: flex;
  flex-direction: column;

  .aside__title {
    display: flex;
    order: 2;

    @include box-title(gray-on-black);
  }

  .box {
    @include box;
  }
}
