@mixin work {
  .work__services {
    @include work__services;
  }

  .work__description {
    @include work__description;
  }

  .work__images {
    @include work__images;
  }

  .work__container {
    @include colors(white-on-blue);
    padding: $lem;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
