<section class="work-item">
  <h3></h3>

  
  <header class="title">
  <span class="title__main"></span>

  
</header>


  <article class="work__description-with-images">
  <h3>Work description with images</h3>

  
  
  <article class="description">
  <h3>Description</h3>

  <div class="description__text">
    
  </div>

  
    <span class="separator-line"></span>

  
</article>


  
  <article class="slider">
  <h3>Slider</h3>

  <aside class="slides">
    <h3>Slides</h3>

    
  </aside>
</article>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
</nav>

</article>

  <section class="work work__services-and-menu">
  <h3>Services and the Menu</h3>

  <aside class="services">
    <h3>Services</h3>

    
    <ul class="ul ul--no-dash">
  
</ul>

  </aside>

  <nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  















<a class="link" href="/work" title="Work">Work</a>

    </div>
  
    <div class="menu__item">
      
      

  















<a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

    </div>
  
    <div class="menu__item">
      
      

  















<a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu__item">
      
      

  















<a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</nav>

</section>

</section>
