<section class="work">
  <h3></h3>

  <aside class="work work__services">
  <h3>Services</h3>

  
  <ul class="ul">
  
</ul>

</aside>


  <div class="work__container">
    <article class="work work__description">
  <h3>Description</h3>

  <div class="text">
    
  </div>
</article>

    <article class="work work__images">
  <h3>Images</h3>

  <aside class="slides">
    <h3>Slides</h3>

    
  </aside>

  <nav class="navigation">
    <h3>Navigation</h3>
    <button onclick="prev()">&rsaquo;</button>
    <button onclick="next()">&raquo;</button>
  </nav>
</article>

  </div>
</section>
