@mixin home__intro--animation-2 {
  display: none;

  @include mobile-and-up {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .letter {
      position: absolute;
    }

    .lines {
      position: absolute;

      &--vertical {
        @include lines(4, vertical);
      }

      &--horizontal {
        @include lines(4, horizontal);
      }

      //@include fuzzy-text;
    }
  }
}


@include keyframes(home-intro-animation-2-skew) {
  from {
    //
  }
}
