@mixin home__intro--animation-2 {
  display: none;

  @include mobile-and-up {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    .letter {
      position: absolute;
    }

    .background {
      position: absolute;
      top: 64px;
      left: 64px;;

      border: 1px solid;
    }
  }
}
