@mixin home__intro--animation-2 {
  display: none;

  @include mobile-and-up {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    .letter {
      position: absolute;
    }

    .lines {
      position: absolute;
      top: 2.5vh;
      left: 2.5vw;

      $duration: .3s;
      @include lines--delayed(20, $duration);

      &--vertical {
        @include lines(20, vertical, $duration);
      }

      &--horizontal {
        @include lines(20, horizontal, $duration);
      }
    }
  }
}
