


<!doctype html>
<html lang="en" class="work work-archive">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Work &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Metamn">Metamn</a>

  </h3>
</header>




  <section class="work__thumbs">
  <h3>Thumbs</h3>

  
    <article class="thumb">
  <h3>Wanderlust</h3>

  <aside class="thumb__image">
    <h3>Wanderlust thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/wanderlust" title="Wanderlust">
  

  imagename: wanderlust-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/wanderlust-thumb_desktop.png, /assets/images/wanderlust-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/wanderlust-thumb_laptop.png, /assets/images/wanderlust-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/wanderlust-thumb_tablet.png, /assets/images/wanderlust-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/wanderlust-thumb_mobile.png, /assets/images/wanderlust-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/wanderlust-thumb_desktop.png" alt="Wanderlust">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Wanderlust
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Iorad</h3>

  <aside class="thumb__image">
    <h3>Iorad thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/iorad" title="Iorad">
  

  imagename: iorad-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/iorad-thumb_desktop.png, /assets/images/iorad-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/iorad-thumb_laptop.png, /assets/images/iorad-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/iorad-thumb_tablet.png, /assets/images/iorad-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/iorad-thumb_mobile.png, /assets/images/iorad-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/iorad-thumb_desktop.png" alt="Iorad">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Iorad
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>OCCRP</h3>

  <aside class="thumb__image">
    <h3>OCCRP thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/occrp" title="OCCRP">
  

  imagename: occrp-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/occrp-thumb_desktop.png, /assets/images/occrp-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/occrp-thumb_laptop.png, /assets/images/occrp-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/occrp-thumb_tablet.png, /assets/images/occrp-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/occrp-thumb_mobile.png, /assets/images/occrp-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/occrp-thumb_desktop.png" alt="OCCRP">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    OCCRP
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Reboot</h3>

  <aside class="thumb__image">
    <h3>Reboot thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/reboot" title="Reboot">
  

  imagename: reboot-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/reboot-thumb_desktop.png, /assets/images/reboot-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/reboot-thumb_laptop.png, /assets/images/reboot-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/reboot-thumb_tablet.png, /assets/images/reboot-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/reboot-thumb_mobile.png, /assets/images/reboot-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/reboot-thumb_desktop.png" alt="Reboot">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Reboot
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Anvelocom</h3>

  <aside class="thumb__image">
    <h3>Anvelocom thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/anvelocom" title="Anvelocom">
  

  imagename: anvelocom-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/anvelocom-thumb_desktop.png, /assets/images/anvelocom-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/anvelocom-thumb_laptop.png, /assets/images/anvelocom-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/anvelocom-thumb_tablet.png, /assets/images/anvelocom-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/anvelocom-thumb_mobile.png, /assets/images/anvelocom-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/anvelocom-thumb_desktop.png" alt="Anvelocom">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Anvelocom
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Scatter</h3>

  <aside class="thumb__image">
    <h3>Scatter thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/scatter" title="Scatter">
  

  imagename: scatter-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/scatter-thumb_desktop.png, /assets/images/scatter-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/scatter-thumb_laptop.png, /assets/images/scatter-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/scatter-thumb_tablet.png, /assets/images/scatter-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/scatter-thumb_mobile.png, /assets/images/scatter-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/scatter-thumb_desktop.png" alt="Scatter">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Scatter
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Inu Chivu</h3>

  <aside class="thumb__image">
    <h3>Inu Chivu thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/inu" title="Inu Chivu">
  

  imagename: inu-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/inu-thumb_desktop.png, /assets/images/inu-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/inu-thumb_laptop.png, /assets/images/inu-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/inu-thumb_tablet.png, /assets/images/inu-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/inu-thumb_mobile.png, /assets/images/inu-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/inu-thumb_desktop.png" alt="Inu Chivu">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Inu Chivu
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
    <article class="thumb">
  <h3>Smuff</h3>

  <aside class="thumb__image">
    <h3>Smuff thumb</h3>

    <div class="container">
      
      <figure >
  
    <a href="/work/smuff" title="Smuff">
  

  imagename: smuff-thumb

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/smuff-thumb_desktop.png, /assets/images/smuff-thumb_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/smuff-thumb_laptop.png, /assets/images/smuff-thumb_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/smuff-thumb_tablet.png, /assets/images/smuff-thumb_tablet2x.png 2x">
    <source srcset="/assets/images/smuff-thumb_mobile.png, /assets/images/smuff-thumb_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/smuff-thumb_desktop.png" alt="Smuff">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Smuff
  </figcaption>

  </a>
</figure>

    </div>
  </aside>
</article>

  
</section>




<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/work" title="Work">Work</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</nav>

<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

