


<!doctype html>
<html lang="en" class="work ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Work &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    

  











  





<a class="link" href="/" title="Metamn">Metamn</li>

  </h3>

  
    <div class="header__separator">
      <span class="long-dash"></span>

    </div>

    <div class="header__page-title">
      Work
    </div>
  
</header>




  <section class="work__archive">
    <h3>Work archive</h3>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/wanderlust" title="Wanderlust">Wanderlust</li>

  </h3>

  <div class="thumb__categories">
    Front-end, Wordpress
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/iorad" title="Iorad">Iorad</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/occrp" title="OCCRP">OCCRP</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/reboot" title="Reboot">Reboot</li>

  </h3>

  <div class="thumb__categories">
    Front-end, Wordpress
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/anvelocom" title="Anvelocom">Anvelocom</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end, Wordpress
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/scatter" title="Scatter">Scatter</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/inu" title="Inu Chivu">Inu Chivu</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end, Wordpress
  </div>
</article>

    
      <article class="thumb">
  <h3 class="thumb__title">
    
    

  















<a class="link" href="/work/smuff" title="Smuff">Smuff</li>

  </h3>

  <div class="thumb__categories">
    Design, Front-end, Wordpress, Yii, E-commerce
  </div>
</article>

    
  </section>



<nav class="links">
  <h3>Links</h3>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/work" title="Work">Work</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/styleguide" title="Styleguide">Styleguide</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/about" title="About">About</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/contact" title="Contact">Contact</li>

      </li>
    
  </ul>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/how-this-site-was-made" title="How this site was made">How this site was made</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/more-articles" title="More articles">More articles</li>

      </li>
    
  </ul>


  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="mailto:bartus.csongor@gmail.com" title="Email">Email</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://twitter.com/metamn" title="Twitter">Twitter</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://github.com/metamn" title="Github">Github</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://metamn.tumblr.com" title="Tumblr">Tumblr</li>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="https://www.readability.com/metamn/" title="Readability">Readability</li>

      </li>
    
  </ul>

</nav>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

