// Flip
//
// Flip effect used on links. Based on this [Codrops article](http://tympanus.net/Development/CreativeLinkEffects/).
//
// Styleguide flip
@mixin flip($decoration: none) {
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;

  &:hover,
  &:focus {
    outline: none;
  }

  span {
    text-decoration: $decoration;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }

  span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
    @include colors(green-on-blue);
  }

  &:hover span,
  &:focus span {
    transform: translateY(-100%);
  }
}
