@mixin dl {
  margin: 0;

  dt {
    @include text-style(title);
    word-wrap: break-word;
    padding: $lem / 2 0;
    border-bottom: 1px solid;
  }

  dd {
    padding: $lem / 2 0;
    margin: 0;

    + dd {
      padding: 0;
    }

    + dt {
        margin-top: $lem + $lem / 2;
    }
  }
}
