@mixin thumb {
  @include colors(white-on-blue);

  display: flex;
  padding: $lem;

  .thumb__title {
    display: flex;
    @include text-style(title);
  }

  .thub__categories {
    @include text-style(category-list);
  }
}
