@mixin thumb {
  @include colors(white-on-blue);

  width: 15em;
  height: 15em;
  margin: $lem;

  transform: rotate(45deg);
  @include animation(transform);
  &:hover {
    transform: rotate(0deg);
  }

  .thumb__title {
    display: flex;
    @include text-style(title);
  }

  .thub__categories {
    @include text-style(category-list);
  }
}
