html {
  &.sg-animation {
    body {
      .example1, .example2 {
        display: inline-flex;
        cursor: pointer;

        &:hover {
          @include colors(blue-on-white);
          transform: scale(1.2);
        }
      }

      .example1 {
        @include animation(transform);
        margin-right: $lem * 2;
        margin-bottom: $lem;
      }
    }
  }
}
