html {
  &.styleguide-home {
    body {
      .cloned {
        position: absolute;
        z-index: -1;

        @include text-style(body-text);
        @include intro__description--bordered;
        //@include colors(gray-on-black);
        @include intro__description--rotated;

        @include mobile {
          display: none;
        }
      }

      @include desktop {
        .example {
          overflow: hidden;
          padding-bottom: 0 !important;
        }

        .styleguide-menu {
          margin-top: $lem;
        }
      }
    }
  }
}
