@mixin menu($color-scheme: white-on-blue) {
  display: flex;
  flex-direction: row;

  padding: $lem;

  a {
    @include link($color-scheme);
    @include text-style(menu);
  }

  .menu__item {
    &.inactive {
      @include menu--inactive;
    }

    + .menu__item {
      margin-left: $lem;
    }
  }

  @include mobile {
    @include menu--mobile;
  }
}
