@mixin menu {
  padding: $lem;

  a {
    @include link(white-on-blue);
    @include text-style(menu);
  }

  display: flex;
  flex-direction: column;

  @include mobile-and-up {
    flex-direction: row;

    .menu__item + .menu__item {
      margin-left: $lem;
    }
  }
}
