<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/work" title="Work"><span data-hover="Work">Work</span></a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/styleguide" title="Styleguide"><span data-hover="Styleguide">Styleguide</span></a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About"><span data-hover="About">About</span></a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact"><span data-hover="Contact">Contact</span></a>

    </div>
  
</nav>
