<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="http://metamn.io/work" title="Work"><span data-hover="Work">Work</span></a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="http://metamn.io/styleguide" title="Styleguide"><span data-hover="Styleguide">Styleguide</span></a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="http://metamn.io/about" title="About"><span data-hover="About">About</span></a>

    </div>
  
</nav>
