<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/work" title="Work">Work</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</nav>
