@mixin work__description-with-images {
  padding: $lem;

  .slider {
    @include slider;
  }

  .slider__bullets {
    @include slider__bullets;
  }

  .description {
    @include description;
    padding: 0;

    span {
      @include scale(large);
    }
  }


  display: flex;
  flex-direction: column;

  @include tablet-and-up {
    flex-direction: row;
    align-items: center;

    .description {
      padding-right: $lem;
    }

    .slider__bullets {
      @include slider__bullets--vertical;
    }
  }


}
