html {
  &.styleguide-page-transition {
    body {
      transition-duration: 2s;

      section, article, aside {
        animation-duration: 2s;
      }

      .header, .styleguide-header, .menu, .title {
        animation-duration: 2s;
      }

      .link {
        @include link(blue-on-white, underline);
      }
    }
  }
}
