// Color overlay
//
// Applies a tint on an image. Used to make portfolio items look 'blueish' &mdash;uniform&mdash; on the Works page.
// Based on [this idea](http://www.impressivewebs.com/image-tint-blend-css/).
//
// Styleguide color-overlay
@mixin color-overlay($color, $opacity, $hover: on) {
  position: relative;

  &:before {
    content: "";
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: $color;
    opacity: $opacity;
    @include transition(background);
  }

  @if ($hover == on ) {
    @include color-overlay--hover-on;
  }
}
