// Color overlay
//
// Applies a tint on an image. Used to make portfolio items look 'blueish' &mdash;uniform&mdash; on the Works page.
// Based on [this excellent idea](http://www.impressivewebs.com/image-tint-blend-css/).
//
// Styleguide color-overlay
@mixin color-overlay($color, $opacity) {
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: $color;
    opacity: $opacity;
    @include transition(opacity);
  }

  &:hover {
    &:before {
      background: none;
      z-index: -1;
      opacity: 1;
    }
  }
}
