html {
  &.styleguide-transition {
    body {
      .example {
        display: flex;
        flex-direction: column;

        div {
          max-width: $text-block-width;
          align-items: center;

          @include colors(white-on-blue);
          padding: $lem / 2 $lem;
          margin-bottom: $lem;

          cursor: pointer;
        }

        .example-1 {
          @include transition(transform);
        }
      }
    }
  }
}
