@mixin line--vertical {
  justify-content: center;

  &__border {
    @include border(normal, right);
    animation-name: line-draw-vertical;
  }
}

@include keyframes(line-draw-vertical) {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}
