@mixin intro__description {
  flex-basis: 100%;

  .text {
    @include grid('p', $lem);
    align-items: center;

    a {
      @include link(white-on-blue);
    }

    p {
      @include text-style(body-text);

      &:nth-of-type(2) {
        border: 2px dashed;
        padding: $lem / 2;

        @include landscape {
          transform: rotate(-90deg);
        }

        @include desktop {
          padding: $lem;
        }
      }
    }
  }
}
