@mixin intro__description {
  flex-basis: 100%;
  align-items: center;
  @include grid('p', $lem);
  @include landscape {
    flex-wrap: nowrap;
  }

  a {
    @include link(white-on-blue);
    @include text-style(menu);
  }

  p {
    @include text-style(body-text);
  }

  .second {
    border: 2px dashed;
    padding: $lem * 2 $lem / 2;
    text-align: center;
  }

  .rotated {
    @include desktop {
      transform: rotate(-90deg);
    }
  }

  @include tablet-and-below {
    justify-content: space-around;

    p {
      max-width: 20em;

      &.second {
        width: 5em;
        word-wrap: break-word;
      }
    }
  }
}
