@mixin intro__description {
  flex-basis: 100%;

  .text {
    @include grid('p', $lem);
    align-items: center;

    a {
      @include link(white-on-blue);
    }

    p {
      @include text-style(body-text);

      &:nth-of-type(2) {
        border: 1px dashed;

        @include desktop {
          border: none;
          @include colors(gray-on-black);
          transform: rotate(-90deg);
          padding: $lem;
        }
      }
    }
  }
}
