html {
  &.styleguide-intrinsic-ratio {
    body {
      .example {
        position: relative;
        height: $text-block-width * 1.5;

        flex-wrap: none !important;
        flex: none !important;


        .ratio {
          position: absolute;
          top: 0;

          width: $text-block-width;

          .container {
            border: 1px solid;
          }


          div {
            display: flex;
            justify-content: center;
            align-items: flex-end;
          }

          span {
            @include box-title(gray-on-black);
            padding: $lem / 6 $lem / 2;
          }

          &.r16-9 {
            .container {
              @include intrinsic-ratio(16, 9, div);
            }
          }

          &.r3-2 {
            .container {
              @include intrinsic-ratio(3, 2, div);
            }
          }

          &.r4-3 {
            .container {
              @include intrinsic-ratio(4, 3, div);
            }
          }

          &.r1-1 {
            .container {
              @include intrinsic-ratio(1, 1, div);
            }
          }

          &.r3-4 {
            .container {
              @include intrinsic-ratio(3, 4, div);
            }
          }

          &.r2-3 {
            .container {
              @include intrinsic-ratio(2, 3, div);
            }
          }

        }
      }
    }
  }
}
