html {
  &.styleguide-long-dash {
    body {
      .example {
        div {
          margin-bottom: $lem;

          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .long-dash {
            @include long-dash;
          }
        }
      }
    }
  }
}
