html {
  &.styleguide-long-dash {
    body {
      .example {
        .box {
          // for the long dash to work
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .long-dash {
            @include long-dash;
          }
        }
      }
    }
  }
}
