@mixin thumb--tablet {
  @include tablet {
    width: 43%;
    height: 25em;

    @include portrait {
      .thumb__image {
        @include intrinsic-ratio(3, 2, 'figure', 'picture');

        figure {
          img {
            max-width: 80%;
            height: auto;
          }
        }
      }
    }
  }
}
