@mixin home__intro {
  display: flex;
  align-items: center;

  @include portrait {
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    @include description;
  }

  .slider {
    @include slider(4, 3, 4, 3);
  }

  .slider__bullets {
    @include slider__bullets;
    padding: $lem;

    @include tablet-and-up {
      @include slider__bullets--vertical;
    }
  }

  figure {
    @include color-overlay($blue, .1);
  }
}
