@mixin home__intro {
  .header__with-description {
    @include header__with-description;
  }

  .ui {
    @include ui;
    display: none;
  }

  @include tablet-and-up {
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ui {
      display: flex;
    }
  }
}
