@mixin slider($ratio-mobile-width, $ratio-mobile-height, $ratio-desktop-width, $ratio-desktop-height) {
  overflow: hidden;
  @include colors(white-on-blue);

  @include tablet-and-below {
    flex-basis: 100%;
    width: 100%;
  }

  // Stretch content to fill the full space available
  @include tablet-and-up {
    flex-grow: 1;
  }

  .slides {
    @include mobile {
      @include intrinsic-ratio($ratio-mobile-width, $ratio-mobile-height, '.slide', 'figure');
    }

    @include mobile-and-up {
      @include intrinsic-ratio($ratio-desktop-width, $ratio-desktop-height, '.slide', 'figure');
    }

    .slide {
      @include animation(transform);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      figure {
        @include figure;

        + figure {
          padding-left: $lem;
        }
      }
    }
  }
}
