// Slider
//
// A content slider based on an idea from [Google Web Fundamentals](https://developers.google.com/web/fundamentals/look-and-feel/animations/animating-between-views).
// Navigation is supported by bullets, click on image and swipe on touch-screens.
//
// Styleguide slider.
@mixin slider($ratio-width, $ratio-height) {
  overflow: hidden;
  @include colors(white-on-blue);

  @include tablet-and-below {
    width: 100%;
  }

  // Stretch content to fill the full space available
  @include tablet-and-up {
    flex-grow: 1;
  }

  .slides {
    @include intrinsic-ratio($ratio-width, $ratio-height, '.slide', 'figure');

    .slide {
      @include transition(transform);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      figure {
        @include figure;

        + figure {
          padding-left: $lem;
        }
      }
    }
  }
}
