@mixin home__intro--slide-animated {
  .slide {
    &:nth-of-type(3) {
      flex-wrap: wrap;

      figure {
        // flex-wrap disables vertical centering
        // - this is a fix;
        top: 50%;
        transform: translateY(-50%);

        + figure {
          padding-left: 0 !important;
        }

        @for $i from 2 to 6 {
          &:nth-of-type(#{$i}) {
            transform: translateY(-($i - 1) * 100% - 50%);
            opacity: 0;

            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-delay: ($i - 1) * 2s;
          }
        }

        &:nth-of-type(2) {
          opacity: 1;

          @include mobile-and-up {
            animation-name: animate-slide-first;
          }
        }

        @for $i from 3 to 6 {
          &:nth-of-type(#{$i}) {
            @include mobile {
              display: none;
            }

            @include mobile-and-up {
              animation-name: animate-slide;
            }
          }
        }
      }
    }
  }
}


@include keyframes(animate-slide-first) {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@include keyframes(animate-slide) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
