@mixin not-found__layout {
  display: flex;
  flex-wrap: wrap;

  .not-found__title {
    flex-basis: $text-block-width;
  }

  .not-found__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .metamn {
      width: $lem * 10;
      height: $lem * 10;
    }
  }

  @include not-found__layout--portrait;
}
