@mixin menu {
  padding: $lem;

  display: flex;
  flex-wrap: wrap;

  .menu__framework, .menu__project {
    @include ul--nested;

    ul {
      li {
        div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          span {
            &.long-dash {
              @include long-dash;
            }
          }
        }
      }
    }

    a {
      @include link(blue-on-white);
    }
  }

  .menu__framework {
    margin-right: $lem * 2;
  }
}
