<nav class="menu">
  <h3>Menu</h3>

  
    pages/home/home.scss
  
    pages/work/work.scss
  
    project/about/about.scss
  
    project/header/header.scss
  
    project/links/links.scss
  
    project/thumb/thumb.scss
  
    project/values/values.scss
  
    framework/behavior/animation/animation.scss
  
    framework/design/colors/colors.scss
  
    framework/structure/breakpoints/breakpoints.scss
  
    framework/structure/figure/figure.scss
  
    framework/structure/figure/placeholder.scss
  
    framework/structure/intrinsic-ratio/intrinsic-ratio.scss
  
    framework/structure/semantic-html5-titles/semantic-html5-titles.scss
  
    pages/work/iorad/iorad.scss
  
    project/templates/default/default.scss
  
    project/values/__front-end/values__front-end.scss
  
    project/values/__styleguide/values__styleguide.scss
  
    project/values/__ui/values__ui.scss
  
    project/values/__wordpress/values__wordpress.scss
  
    project/work/__description/work__description.scss
  
    project/work/__images/work__images.scss
  
    project/work/__services/work__services.scss
  
    framework/design/decorations/long-dash/long-dash.scss
  
    framework/design/typography/fonts/fonts.scss
  
    framework/design/typography/reset/reset.scss
  
    framework/design/typography/scale/scale.scss
  
    framework/design/typography/text-style/text-style.scss
  
    framework/design/typography/elements/link/link.scss
  
    framework/design/typography/elements/p/p.scss
  
    framework/design/typography/elements/ul/ul.scss
  
    framework/design/typography/elements/uppercase/uppercase.scss
  
    framework/design/typography/elements/ul/--no-dash/ul--no-dash.scss
  
</nav>
