<section class="menu">
  <h3>Menu</h3>

  <nav class="menu menu__framework">
    <h3>Framework</h3>
    <ul>
<li>
<a href="framework">framework</a>
<div><ul>
<li>
<a href="framework/behavior">behavior</a>
<div><ul>
<li>
<a href="framework/behavior/animation">animation</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/design">design</a>
<div><ul>
<li>
<a href="framework/design/colors">colors</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/decorations">decorations</a>
<div><ul>
<li>
<a href="framework/design/decorations/long-dash">long-dash</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/design/typography">typography</a>
<div><ul>
<li>
<a href="framework/design/typography/elements">elements</a>
<div><ul>
<li>
<a href="framework/design/typography/elements/link">link</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/typography/elements/p">p</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/typography/elements/ul">ul</a>
<div><ul>
<li>
<a href="framework/design/typography/elements/ul/--no-dash">--no-dash</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/design/typography/elements/uppercase">uppercase</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/design/typography/fonts">fonts</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/typography/reset">reset</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/typography/scale">scale</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/design/typography/text-style">text-style</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/helpers">helpers</a>
<div><ul>
<li>
<a href="framework/helpers/classname">classname</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/helpers/pagetitle">pagetitle</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="framework/structure">structure</a>
<div><ul>
<li>
<a href="framework/structure/breakpoints">breakpoints</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/structure/figure">figure</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/structure/intrinsic-ratio">intrinsic-ratio</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="framework/structure/semantic-html5-titles">semantic-html5-titles</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
</ul></div>
</li>
</ul>
  </nav>

  <nav class="menu menu__project">
    <h3>Project</h3>
    <ul>
<li>
<a href="project">project</a>
<div><ul>
<li>
<a href="project/about">about</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/header">header</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/links">links</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/templates">templates</a>
<div><ul>
<li>
<a href="project/templates/default">default</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/templates/head">head</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/templates/scripts">scripts</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="project/thumb">thumb</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/values">values</a>
<div><ul>
<li>
<a href="project/values/__front-end">__front-end</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/values/__styleguide">__styleguide</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/values/__ui">__ui</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/values/__wordpress">__wordpress</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
<li>
<a href="project/work">work</a>
<div><ul>
<li>
<a href="project/work/__description">__description</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/work/__images">__images</a>
<div><ul>
</ul></div>
</li>
<li>
<a href="project/work/__services">__services</a>
<div><ul>
</ul></div>
</li>
</ul></div>
</li>
</ul></div>
</li>
</ul>
  </nav>
</section>
