// Arrow
//
// Left and right arrows used for navigation.
// They have active and inactive states.
//
// Styleguide arrow
@mixin arrow($color-scheme, $arrow-inactive) {
  display: inline-flex;

  a {
    @include link($color-scheme, $hover: off);
    display: flex;
    align-items: center;
  }

  .arrow__icon {
    font-size: 400%;
    line-height: 0;

    position: relative;
    top: -$lem / 16;
  }

  .arrow__text {
    @include text-style(menu);
    display: none;
  }

  + .arrow {
    margin-left: $lem / 2;
  }


  &.inactive {
    color: $arrow-inactive;
  }
}
