@mixin thumb--mobile {
  @include mobile {
    padding: 2px 0 0;
    flex-basis: 100%;

    &:first-of-type {
      padding-top: $lem;
    }

    .thumb__title,
    .thumb__services {
      padding: $lem;
    }

    .thumb__image {
      figure {
        padding: $lem;

        img {
          // Stretching the thumb on first page load to the original size
          // - when loading images the layout won't grow/flick
          min-width: 272px;
          min-height: 153px;
        }
      }
    }
  }
}
