@mixin thumb--mobile {
  @include mobile {
    padding-right: 0;
    padding-bottom: 0;

    .thumb__title,
    .thumb__services {
      padding: $lem;
      @include colors(white-on-blue);
    }
  }
}
