@mixin thumb--mobile {
  @include mobile {
    height: 23em;
    
    padding: 2px 0 0;

    &:first-of-type {
      padding-top: $lem;
    }

    .thumb__title,
    .thumb__services {
      padding: $lem;
      @include colors(white-on-blue);
    }
  }
}
