<section class="intro">
  <h3>Styleguide Intro</h3>

  <article class="intro__title">
  <h3>Intro</h3>

  <span>Styleguide</span>
</article>

  <aside class="intro__lines">
  <h3>Lines</h3>

  <ul>
    
      <li></li>
    
      <li></li>
    
      <li></li>
    
      <li></li>
    
  </ul>
</aside>

  <aside class="intro__numbers">
  <h3>Numbers</h3>

  <div>
    0 1 2 3 4 5 6 7 8 9
  </div>

  <div>
    a &mdash;<br/> b &mdash;<br/> c &mdash;<br/> d &mdash;<br/> e &mdash; 
  </div>

</aside>

  <article class="intro__colors">
  <h3>Colors</h3>


    <div class="color-swatch">
      <span class="white placeholder"></span>
      <span class="name">white</span>
    </div>

    <div class="color-swatch">
      <span class="blue placeholder"></span>
      <span class="name">blue</span>
    </div>

    <div class="color-swatch">
      <span class="green placeholder"></span>
      <span class="name">green</span>
    </div>

    <div class="color-swatch">
      <span class="gray placeholder"></span>
      <span class="name">gray</span>
    </div>

</article>

  <aside class="intro__description">
  <h3>Description</h3>

  <p>
    This is the styleguide accompanying the site
    
    
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Metamn."><span data-hover="Metamn.">Metamn.</span></a>

    It serves as a visual documentation for the framework and components building the site.
  </p>

  <p class="bordered">
    Any changes made to the site design are automatically reflected in this styleguide.
  </p>

  <p>
    We use the
    
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="https://en.bem.info/method/filesystem/" title="BEM"><span data-hover="BEM">BEM</span></a>

    to name and structure code. BEM is using <strong>Framework</strong> for basic components like typography, colors, the grid and
    <strong>Project</strong> for all other components specific to the site like headers, thumbs, portfolio sections.
  </p>
</aside>

</section>
