@mixin work__images {
  overflow: hidden;

  width: 40em;
  height: 40em;
  margin: $lem;


  .slides {
    @include mobile {
      @include intrinsic-ratio(3, 4, '.slide');
    }

    @include tablet {
      @include intrinsic-ratio(1, 1, '.slide');
    }

    @include landscape {
      @include intrinsic-ratio(3, 2, '.slide');
    }

    .slide {
      @include animation(transform);

      display: flex;
      justify-content: center;
      align-items: center;

      figure {
        @include figure;

        + figure {
          padding-left: $lem;
        }
      }
    }
  }

  .navigation {
    position: relative;
    top: -4.5em;
    height: 0;

    span {
      cursor: pointer;
      font-size: 4em;
    }
  }
}
