@mixin work__images {
  overflow: hidden;
  @include colors(white-on-blue);

  width: 30em;
  height: 30em;
  margin-top: $lem;


  .slides {
    position: relative;
    width: 100%;
    height: 100%;

    .slide {
      @include animation(transform);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      figure {
        @include figure;

        + figure {
          padding-left: $lem;
        }
      }
    }
  }
}
