html {
  &.styleguide-figure {
    body {
      .example {
        overflow-x: hidden;

        aside {
          max-width: none !important;
        }

        .box {
          @include colors(white-on-blue);
        }

        figcaption {
          display: none;
        }
      }
    }
  }
}
