html {
  &.styleguide-figure {
    body {
      .example {
        overflow-x: hidden;

        .aside {
          width: auto !important;
          flex-basis: 100%;
        }

        .aside__title {
          @include box-title--with-border;
        }

        .box {
          @include colors(white-on-blue);
        }

        figcaption {
          display: none;
        }
      }
    }
  }
}
