html {
  &.styleguide-figure {
    body {
      .description-and-example {
        .example {
          .aside {
            overflow-x: hidden;

            .aside {
              width: auto !important;
              flex-basis: 100%;
            }

            .box {
              @include colors(white-on-blue);
              @include box($border: none);
            }

            figcaption {
              display: none;
            }
          }
        }
      }
    }
  }
}
