@mixin works__title {
  &:before {
    content: "Work-";
    word-wrap: break-word;
    max-width: 99vw;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5%;

    z-index: -1;
    //color: $gray;
    opacity: .1;
    text-align: center;

    font-size: 5500%;
    line-height: .7;

    @include works__title--mobile;
    @include works__title--tablet;
    @include works__title--tablet-landscape;
    @include works__title--desktop;
  }
}
