@mixin work__navigation($color-scheme, $arrow_inactive) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  .arrow {
    @include arrow($color-scheme, $arrow_inactive);
  }
}
