@mixin work__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
  }

  .arrow {
    @include arrow(blue-on-gray);
  }
}
