@mixin intro__title {
  max-width: $text-block-width;
  padding: $lem 0;

  @include colors(gray-on-black);

  span {
    word-wrap: break-word;
    line-height: 0.5;
    font-weight: 700;
    font-size: 9.969em;
  }
}
