@mixin about--landscape {
  .description-and-services {
    display: flex;
    flex-wrap: no-wrap;
    align-items: flex-end;
  }

  .description,
  .about__services {
    flex: 1;
  }

  .title__main {
    transform: rotate(-90deg);
  }
}
