@mixin intro__colors {
  @include grid('.item', $lem);
  padding-top: $lem;
  max-width: $text-block-width;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $lem * 2;

    .placeholder {
      @include circle(4em);
    }

    .gray {
      border: 2px solid;
    }
  }
}
