@mixin intro__colors {
  @include grid('.item', $lem);
  padding-top: $lem;

  max-width: $text-block-width;

  @include tablet-and-below {
    max-width: none;
    flex-basis: 100%;
    justify-content: space-around;
  }

  @include desktop {
    max-width: $text-block-width * 2;
  }

  @include mobile {
    justify-content: flex-start;
    padding-bottom: $lem;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $lem * 2;

    .placeholder {
      @include circle(5em);
    }

    .blue {
      border: 1px solid;
    }
  }
}
