// Colors
//
// The colors together with the color pairs.
// Colors don't exist alone yet in pairs, like black on white.
// All color pairs have a contrast ratio set for perfect readability using [Lea Verou's contrast checking tool](http://leaverou.github.io/contrast-ratio/).
//
// Styleguide colors

// The background color
$white: #f1f1f1;

// The text color
$black: #003A40;

// The highlight color
$blue: rgba(0, 0, 255, 1);

// A lighter highlight color
$thumbblue: rgba(38, 38, 255, 1);


// Color combinations. Colors are not used standalone but in pairs
@mixin colors($name) {

  @if ($name == 'white-on-blue') {
    color: $white;
    background-color: $blue;
    
  }

  @if ($name == 'white-on-thumbblue') {
    color: $white;
    background-color: $thumbblue;
    
  }

  @if ($name == 'blue-on-white') {
    color: $blue;
    background-color: $white;
    
  }

}

// Color classes

.white {
  background: #f1f1f1;
};

.black {
  background: #003A40;
};

.blue {
  background: rgba(0, 0, 255, 1);
};

.thumbblue {
  background: rgba(38, 38, 255, 1);
};


// Color pair classes

.white-on-blue {
  color: $white;
  background-color: $blue;
  
}

.white-on-thumbblue {
  color: $white;
  background-color: $thumbblue;
  
}

.blue-on-white {
  color: $blue;
  background-color: $white;
  
}

