@mixin ul--nested {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;

      ul {
        margin-left: $lem;

        @include transition(opacity);
        display: none;
        opacity: 0;
      }

      &.active {
        > ul {
          display: block;
          opacity: 1;
        }
      }

      &.folder {
        padding: $lem / 2 0;

        div {
          border-bottom: 1px solid;
        }
      }

      &.file {
        div {
          border-bottom: none;
        }
      }

      &.inactive {
        a {
          span {
            @include link(blue-on-white, line-through);
          }
        }
      }
    }
  }
}
