@mixin work__description-with-images--landscape {
  padding: 0 $lem;

  flex-direction: row;
  align-items: center;

  .description {
    padding: 0 $lem 0 0;
    text-align: justify;
  }

  .slider__bullets {
    @include slider__bullets--vertical;
  }
}
