@mixin about__services {
  padding: $lem * 2;

  li {
    display: flex;
    align-items: center;
  }

  .glyph {
    width: $lem;
  }

  .long-dash {
    @include long-dash;
    margin: 0 $lem;
  }

  .link {
    @include link(white-on-blue);
  }

  @include mobile {
    @include about__services--mobile;
  }
}
