html {
  &.contact {
    body {
      .title {
        @include title;
      }

      .contact__links {
        @include dl;
        padding: 0 $lem;

        .link {
          @include link(white-on-blue);
          padding: $lem / 4 0;
          border-bottom: 1px solid;
        }
      }

      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      align-items: flex-end;

      .title__main {
        transform: rotate(-90deg);
      }

      .menu {
        flex-basis: 100%;
      }

      @include mobile {
        @include contact--mobile;
      }

    }
  }
}
