


<!doctype html>
<html lang="en" class="contact ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Contact &mdash; Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Metamn">Metamn</a>

  </h3>
</header>




  
  <header class="title">
  <span class="title__main">Contact</span>

  
</header>


  <dl class="contact__links">
    
      <dt>

  
    
  

  


  


  

  
    
  

  <a class="link" href="mailto:bartus.csongor@gmail.com" title="bartus.csongor@gmail.com">bartus.csongor@gmail.com</a>
</dt>
      <dd>
        I&#39;ll get back to you in a business day
      </dd>
    
      <dt>

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://twitter.com/metamn" title="http://twitter.com/metamn">http://twitter.com/metamn</a>
</dt>
      <dd>
        Industry pulse
      </dd>
    
      <dt>

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.tumblr.com" title="http://metamn.tumblr.com">http://metamn.tumblr.com</a>
</dt>
      <dd>
        Visual inspiration
      </dd>
    
      <dt>

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://github.com/metamn" title="http://github.com/metamn">http://github.com/metamn</a>
</dt>
      <dd>
        Code sample
      </dd>
    
      <dt>

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://readability.com/metamn" title="http://readability.com/metamn">http://readability.com/metamn</a>
</dt>
      <dd>
        Industry overview. An article a month for you.
      </dd>
    
  </dl>


<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/work" title="Work">Work</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</nav>

<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

