html {
  &.contact {
    body {
      .title {
        @include title;
      }

      dl {
        @include dl;
        padding: $lem;

        .link {
          @include link(white-on-blue);
          font-size: 700;
          padding: $lem / 4 0;
          border-bottom: 1px solid;
        }
      }

      @include landscape {
        display: flex;

        .title__main {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
