


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Metamn">Metamn</a>

  </h3>
</header>




  <section class="home__intro">
  <h3>Intro</h3>

  
  <article class="description">
  <h3>Description</h3>

  <div class="description__text">
    
      <p>Hello, I'm a designer and developer creating user interfaces and experiences for the web.</p>
    
      <p>Lately I've been working on design, front&ndash;end and Wordpress projects with clients around the world.</p>
    
  </div>
</article>


  
  <article class="slider">
  <h3>Slider</h3>

  <aside class="slides">
    <h3>Slides</h3>

    
      
      <div class="slide">
        
          
          <figure >
  

  <!-- name: intro-inu-chivu -->

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/intro-inu-chivu_desktop.png, /assets/images/intro-inu-chivu_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/intro-inu-chivu_laptop.png, /assets/images/intro-inu-chivu_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/intro-inu-chivu_tablet.png, /assets/images/intro-inu-chivu_tablet2x.png 2x">
    <source srcset="/assets/images/intro-inu-chivu_mobile.png, /assets/images/intro-inu-chivu_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/intro-inu-chivu_desktop.png" alt="Inu Chivu">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Inu Chivu
  </figcaption>

  
</figure>

        
      </div>
    
      
      <div class="slide">
        
          
          <figure >
  

  <!-- name: intro-reboot -->

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/intro-reboot_desktop.png, /assets/images/intro-reboot_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/intro-reboot_laptop.png, /assets/images/intro-reboot_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/intro-reboot_tablet.png, /assets/images/intro-reboot_tablet2x.png 2x">
    <source srcset="/assets/images/intro-reboot_mobile.png, /assets/images/intro-reboot_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/intro-reboot_desktop.png" alt="Reboot">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Reboot
  </figcaption>

  
</figure>

        
      </div>
    
      
      <div class="slide">
        
          
          <figure >
  

  <!-- name: intro-scatter -->

  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  



  
  

  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/intro-scatter_desktop.png, /assets/images/intro-scatter_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/intro-scatter_laptop.png, /assets/images/intro-scatter_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/intro-scatter_tablet.png, /assets/images/intro-scatter_tablet2x.png 2x">
    <source srcset="/assets/images/intro-scatter_mobile.png, /assets/images/intro-scatter_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/intro-scatter_desktop.png" alt="Scatter">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Scatter
  </figcaption>

  
</figure>

        
      </div>
    
  </aside>
</article>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
    <div class="active">
      <span>O</span>
      <span class="active">&bull;</span>
    </div>
  
    <div >
      <span>O</span>
      <span class="active">&bull;</span>
    </div>
  
    <div >
      <span>O</span>
      <span class="active">&bull;</span>
    </div>
  
</nav>

</section>




<nav class="menu">
  <h3>Menu</h3>

  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/work" title="Work">Work</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu__item">
      
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</nav>

<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

