


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Metamn</title>

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>
  </head>

  <body>


<header class="header">
  <h3 class="header__site-title">
    
    

  











  





<a class="link" href="/" title="Metamn">Metamn</a>

  </h3>

  
</header>




  
  <article class="about">
  <h3>About</h3>

  <div class="about__text">
    
      <p>Hello, I'm a designer and developer creating user interfaces and experiences for the web.</p>
    
      <p>Lately I've been working on design, front&ndash;end and Wordpress projects with clients around the world.</p>
    
  </div>
</article>


  <section class="values values__ui">
  <h3>1. Clean User Interfaces</h3>
</section>

<section class="values values__styleguide">
  <h3>2. Styleguide</h3>
</section>

<section class="values values__front-end">
  <h3>3. Scalable front&ndash;end</h3>
</section>

<section class="values values__wordpress">
  <h3>4. Wordpress</h3>
</section>




<nav class="links">
  <h3>Links</h3>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/work" title="Work">Work</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/styleguide" title="Styleguide">Styleguide</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/about" title="About">About</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/contact" title="Contact">Contact</a>

      </li>
    
  </ul>

  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/how-this-site-was-made" title="How this site was made">How this site was made</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  















<a class="link" href="/more-articles" title="More articles">More articles</a>

      </li>
    
  </ul>


  <ul class="ul">
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="mailto:bartus.csongor@gmail.com" title="Email">Email</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://twitter.com/metamn" title="Twitter">Twitter</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://github.com/metamn" title="Github">Github</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="http://metamn.tumblr.com" title="Tumblr">Tumblr</a>

      </li>
    
      
      <li>
        <span class="long-dash"></span>

        

  











  





<a class="link" href="https://www.readability.com/metamn/" title="Readability">Readability</a>

      </li>
    
  </ul>

</nav>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

