@mixin work__services-and-menu {
  @include colors(black-on-gray);
  padding: $lem;
  padding-bottom: $lem * 2;

  display: flex;
  @include mobile {
    flex-direction: column;
    padding-bottom: $lem;

    .menu {
      padding: $lem * 2 0 0;
    }
  }

  @include mobile-and-up {
    .services, .menu {
      flex: 1 0 0;
    }
  }

  .services {
    .ul {
      @include ul;
    }
  }

  .menu {
    @include menu;
  }
}
