@mixin home__intro--animation-3 {
  display: none;

  @include mobile-and-up {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .letter {
      position: absolute;
    }
  }
}
