// Spinner from http://spiffygif.com/
@mixin figure__spinner {
  background: url("/assets/images/spinner.gif") no-repeat center center;
  min-width: 68px;
  min-height: 68px;

  @include mobile {
    background: url("/assets/images/spinner-small.gif") no-repeat center center;
    min-width: 30px;
    min-height: 30px;
  }

  // Hide image alt text
  img {
    color: transparent;
  }
}
