@mixin thumb__border--desktop {
  @include desktop {
    &:nth-of-type(3) {
      border-right: 1px solid;
    }

    &:nth-of-type(5){
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      border-bottom: none;
    }
  }
}
