<section class="styleguide-menu">
  <h3>Styleguide menu</h3>

  <nav class="styleguide-menu__framework">
    <h3>Framework</h3>
    <ul>
<li class="folder menu-item-framework">
<div>
Framework</div>
<ul>
<li class="folder menu-item-behavior">
<div>
Behavior</div>
<ul>
<li class="file menu-item-transition">
<div>
<a class="link" title="Transition" href="/styleguide/framework/behavior/transition">Transition</a>
</li>
</ul>
</li>
<li class="folder menu-item-design">
<div>
Design</div>
<ul>
<li class="file menu-item-colors">
<div>
<a class="link" title="Colors" href="/styleguide/framework/design/colors">Colors</a>
</li>
<li class="folder menu-item-decorations">
<div>
Decorations</div>
<ul>
<li class="file menu-item-arrow">
<div>
<a class="link" title="Arrow" href="/styleguide/framework/design/decorations/arrow">Arrow</a>
</li>
<li class="file menu-item-color-overlay">
<div>
<a class="link" title="Color overlay" href="/styleguide/framework/design/decorations/color-overlay">Color overlay</a>
</li>
<li class="file menu-item-long-dash">
<div>
<a class="link" title="Long dash" href="/styleguide/framework/design/decorations/long-dash">Long dash</a>
</li>
</ul>
</li>
<li class="folder menu-item-typography">
<div>
Typography</div>
<ul>
<li class="folder menu-item-elements">
<div>
Elements</div>
<ul>
<li class="file menu-item-dl">
<div>
<a class="link" title="Dl" href="/styleguide/framework/design/typography/elements/dl">Dl</a>
</li>
<li class="file menu-item-link">
<div>
<a class="link" title="Link" href="/styleguide/framework/design/typography/elements/link">Link</a>
</li>
<li class="file menu-item-p">
<div>
<a class="link" title="P" href="/styleguide/framework/design/typography/elements/p">P</a>
</li>
<li class="file menu-item-ul">
<div>
<a class="link" title="Ul" href="/styleguide/framework/design/typography/elements/ul">Ul</a>
</li>
<li class="file menu-item-uppercase">
<div>
<a class="link" title="Uppercase" href="/styleguide/framework/design/typography/elements/uppercase">Uppercase</a>
</li>
</ul>
</li>
<li class="file menu-item-fonts">
<div>
<a class="link" title="Fonts" href="/styleguide/framework/design/typography/fonts">Fonts</a>
</li>
<li class="file menu-item-reset">
<div>
<a class="link" title="Reset" href="/styleguide/framework/design/typography/reset">Reset</a>
</li>
<li class="file menu-item-scale">
<div>
<a class="link" title="Scale" href="/styleguide/framework/design/typography/scale">Scale</a>
</li>
<li class="file menu-item-text-style">
<div>
<a class="link" title="Text style" href="/styleguide/framework/design/typography/text-style">Text style</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="folder menu-item-helpers">
<div>
Helpers</div>
<ul>
<li class="file menu-item-classname">
<div>
<a class="link" title="Classname" href="/styleguide/framework/helpers/classname">Classname</a>
</li>
<li class="file menu-item-link">
<div>
<a class="link" title="Link" href="/styleguide/framework/helpers/link">Link</a>
</li>
<li class="file menu-item-pagetitle">
<div>
<a class="link" title="Pagetitle" href="/styleguide/framework/helpers/pagetitle">Pagetitle</a>
</li>
</ul>
</li>
<li class="folder menu-item-structure">
<div>
Structure</div>
<ul>
<li class="file menu-item-breakpoints">
<div>
<a class="link" title="Breakpoints" href="/styleguide/framework/structure/breakpoints">Breakpoints</a>
</li>
<li class="file menu-item-figure">
<div>
<a class="link" title="Figure" href="/styleguide/framework/structure/figure">Figure</a>
</li>
<li class="folder menu-item-flexbox">
<div>
Flexbox</div>
<ul>
<li class="file menu-item-grid">
<div>
<a class="link" title="Grid" href="/styleguide/framework/structure/flexbox/grid">Grid</a>
</li>
<li class="file menu-item-stretch">
<div>
<a class="link" title="Stretch" href="/styleguide/framework/structure/flexbox/stretch">Stretch</a>
</li>
</ul>
</li>
<li class="file menu-item-intrinsic-ratio">
<div>
<a class="link" title="Intrinsic ratio" href="/styleguide/framework/structure/intrinsic-ratio">Intrinsic ratio</a>
</li>
<li class="file menu-item-semantic-html5-titles">
<div>
<a class="link" title="Semantic html5 titles" href="/styleguide/framework/structure/semantic-html5-titles">Semantic html5 titles</a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
  </nav>

  <nav class="styleguide-menu__project">
    <h3>Project</h3>
    <ul>
<li class="folder menu-item-project">
<div>
Project</div>
<ul>
<li class="file menu-item-description">
<div>
<a class="link" title="Description" href="/styleguide/project/description">Description</a>
</li>
<li class="file menu-item-header">
<div>
<a class="link" title="Header" href="/styleguide/project/header">Header</a>
</li>
<li class="file menu-item-menu">
<div>
<a class="link" title="Menu" href="/styleguide/project/menu">Menu</a>
</li>
<li class="file menu-item-slider">
<div>
<a class="link" title="Slider" href="/styleguide/project/slider">Slider</a>
</li>
<li class="folder menu-item-templates">
<div>
Templates</div>
<ul>
<li class="file menu-item-default">
<div>
<a class="link" title="Default" href="/styleguide/project/templates/default">Default</a>
</li>
<li class="file menu-item-head">
<div>
<a class="link" title="Head" href="/styleguide/project/templates/head">Head</a>
</li>
<li class="file menu-item-scripts">
<div>
<a class="link" title="Scripts" href="/styleguide/project/templates/scripts">Scripts</a>
</li>
</ul>
</li>
<li class="file menu-item-thumb">
<div>
<a class="link" title="Thumb" href="/styleguide/project/thumb">Thumb</a>
</li>
<li class="file menu-item-title">
<div>
<a class="link" title="Title" href="/styleguide/project/title">Title</a>
</li>
<li class="file menu-item-work">
<div>
<a class="link" title="Work" href="/styleguide/project/work">Work</a>
</li>
</ul>
</li>
</ul>
  </nav>
</section>
