@mixin styleguide-menu {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: $lem;

  display: flex;
  flex-wrap: wrap;

  a {
    @include link(blue-on-gray);
    @include text-style(menu);
  }


  .styleguide-menu__framework, .styleguide-menu__project {
    flex-basis: $text-block-width;
    @include ul--nested;
  }

  .styleguide-menu__framework {
    margin-right: $lem * 2;

    @include mobile {
      margin-right: 0;
    }
  }

  .menu-item-reset,
  .menu-item-helpers,
  .menu-item-templates,
  .menu-item-work {
    display: none;
  }
}
