@mixin styleguide-menu {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: $lem;

  display: flex;
  flex-wrap: wrap;

  .styleguide-menu__framework, .styleguide-menu__project {
    flex-basis: 30em;
    @include ul--nested;
  }

  a {
    @include link(blue-on-gray);
    @include text-style(menu);
  }

  .styleguide-menu__framework {
    margin-right: $lem * 2;
  }
}
