@mixin styleguide-menu {
  @include colors(violet-on-black);
  padding: $lem;

  display: flex;
  flex-wrap: wrap;

  .styleguide-menu__framework, .styleguide-menu__project {
    flex-basis: 30em;
    @include ul--nested;
  }

  a {
    @include link(gray-on-black);
    @include text-style(menu);
  }

  .styleguide-menu__framework {
    margin-right: $lem * 2;
  }
}
