@mixin line($direction, $duration: 3s) {
  display: flex;

  &__border {
    animation-duration: $duration;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
    animation-fill-mode: forwards;
  }

  @if ($direction == vertical) {
    @include line--vertical;
  }

  @if ($direction == horizontal) {
    @include line--horizontal;
  }
}
